@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /* border: 1px solid red; */
}

html,
body,
main {
  /* height: 100vh; */
  height: fit-content;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

header,
.section-top,
.section-middle,
.section-bottom,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  /* height: 30%; */
  height: fit-content;
  width: 100%;
  background: linear-gradient(162deg, rgba(11,80,219,1) 0%, rgba(250,220,57,1) 76%, rgba(255,194,0,1) 100%);
  color: #f9faf8;
}

.header-top {
  height: fit-content;
  width: 80%;
  padding-top: 30px;
  display: flex;
  align-items: center;
}

.header-bottom {
  height: fit-content;
  width: 80%;
  padding: 70px 0 70px 0;
  display: flex;
  align-items: center;
}

.top-left,
.bottom-left,
.top-right,
.bottom-right {
  height: fit-content;
  width: 50%;
  display: flex;
}

.top-left{
  align-items: center;
}

.top-left a{
  width: 20%;
  text-decoration: none;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.top-left img {
  height: 100%;
  width: 100%;
}

#logo {
  font-size: 24px;
  color: #f9faf8;
  align-items: center;
}

.top-right {
  justify-content: flex-end;
}

.top-right a {
  margin-left: 5%;
  color: #f9faf8;
  text-decoration: none;
}

.bottom-left{
  flex-direction: column;
  padding-right: 7%;
}

#title {
  margin-bottom: 10%;
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.bottom-left p {
  margin-bottom: 10%;
  color: #e5e7eb;
}

.bottom-right img {
  height: 100%;
  width: 100%;
  border-radius: 15%;
}

/* visited link */
.top-right a:visited {
  color: #e5e7eb;
  ;
}

/* mouse over link */
.top-right a:hover {
  color: hotpink;
}

/* selected link */
.top-right a:active {
  color: blue;
}

button {
  height: 35px;
  width: 120px;
  border-style: none;
  border-radius: 10px;
  background-color: #0b50db;
  color: #f9faf8;
  font-size: 14px;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}

.section-top {
  /* height: 25%; */
  height: fit-content;
  width: 100%;
  padding: 40px 0 140px 0;
}

.section-top h1 {
  font-size: 36px;
  font-weight: 700;
}

.wrapper-top {
  height: fit-content;
  width: 60%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.images-info {
  height: fit-content;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.images-info h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.images-info img {
  height: 100%;
  width: 100%;
  /* aspect-ratio: 1/1; */
  border: 5px solid #0b50db;
  border-radius: 10%;
}

.section-middle {
  /* height: 23%; */
  height: fit-content;
  width: 100%;
  padding: 100px 0 100px 0;
  background-color: #e5e7eb;
  justify-content: center;
}

.section-middle p {
  height: fit-content;
  width: 60%;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  text-align: justify ;
  text-justify: inter-word;
}

#name {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-style: normal;
}

.section-bottom {
  /* height: 17%; */
  height: fit-content;
  width: 100%;
}

.wrapper-bottom {
  height: fit-content;
  width: 80%;
  background-color: #0b50db;
  margin: 100px 0 100px 0;
  padding: 50px 0 50px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  color: #f9faf8;
  ;
}

.wrapper-bottom p {
  font-size: 14px;
}

#call {
  font-size: 20px;
  font-weight: 700;
}

.wrapper-bottom button{
  border-style: solid;
  border-color: #f9faf8;
}

footer {
  /* height: 5%; */
  height: fit-content;
  width: 100%;
  padding: 30px 0 30px 0;
  background: linear-gradient(162deg, rgba(255,194,0,1) 0%, rgba(250,220,57,1) 24%, rgba(11,80,219,1) 100%);
  color: #f9faf8;
  justify-content: center;
}

footer p {
  font-size: 14px;
}