@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /* border: 1px solid red; */
}

html,
body,
main {
  /* height: 100vh; */
  height: fit-content;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

header,
.section-top,
.section-middle,
.section-bottom,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  /* height: 30%; */
  height: fit-content;
  width: 100%;
  background-color: #1f2937;
  color: whitesmoke;
}

.header-top {
  height: fit-content;
  width: 80%;
  padding-top: 30px;
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
}

.header-bottom {
  height: fit-content;
  width: 80%;
  padding: 70px 0 70px 0;
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
}

.left,
.right {
  height: fit-content;
  width: 50%;
  display: flex;
  /* border: 1px solid green; */
}

.right {
  justify-content: flex-end;
  align-items: center;
}

.right a {
  margin-left: 5%;
}

.right img {
  height: 300px;
  width: 100%;
  border: 2px solid red;
}

.left{
  flex-direction: column;
  justify-content: center;
}

button {
  height: 35px;
  width: 120px;
  border-style: none;
  border-radius: 10px;
  background-color: #3882F6;
  color: whitesmoke;
  font-size: 14px;
}

.section-top {
  /* height: 25%; */
  height: fit-content;
  width: 100%;
  padding: 40px 0 140px 0;
}

.section-top h1 {
  font-size: 36px;
  font-weight: 700;
}

.wrapper-top {
  height: fit-content;
  width: 60%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.images-info {
  height: fit-content;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images-info img {
  width: 100%;
  aspect-ratio: 1/1;
  border: 5px solid blue ;
  border-radius: 10%;
}

.section-middle {
  /* height: 23%; */
  height: fit-content;
  width: 100%;
  padding: 100px 0 100px 0;
  background-color: #e5e7eb;
  justify-content: center;
}

.section-middle p {
  height: fit-content;
  width: 60%;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

#name {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-style: normal;
}

.section-bottom {
  /* height: 17%; */
  height: fit-content;
  width: 100%;
}

.wrapper-bottom {
  height: fit-content;
  width: 80%;
  background-color: #3882F6;
  margin: 100px 0 100px 0;
  padding: 50px 0 50px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  color: whitesmoke;
}

.wrapper-bottom p {
  font-size: 14px;
}

#call {
  font-size: 20px;
  font-weight: 700;
}

.wrapper-bottom button{
  border-style: solid;
  border-color: whitesmoke;
}

footer {
  /* height: 5%; */
  height: fit-content;
  width: 100%;
  padding: 30px 0 30px 0;
  justify-content: center;
  background-color: #1f2937;
  color: whitesmoke;
}

footer p {
  font-size: 14px;
}